@font-face {
    font-family: "Squared Display";
    src: url("../asset/fonts/squared_display/Squared\ Display.ttf");
}

@font-face {
    font-family: "Replay";
    src: url("../asset/fonts/replay/replay.ttf");
}

.addmodpackmodal {
    background-color: var(--modalcolor);
    color: var(--textcolor);
    border: none;
    font-family: "Squared Display";
    width: 300px;
    height: 455px;
}

.addmodpackmodal p {
    font-family: "Forced Square";
}

.addmodpackmodal .createdecription {
    resize: none;
    font-family: "Forced Square";
}

.addmodpackmodal input {
    font-family: "Forced Square";
    width: 180px;
}

/* .addmodpackmodal button {
    background-color: var(--textcolor);
    color: var(--modalcolor);
    font-family: "Forced Square";
}

.addmodpackmodal button:hover {
    background-color: grey;
} */

.imgh2right {
    position: relative;
}

.crlogo {
    transition-property: background-color, filter;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    position: absolute;
    right: 0px;
    top: -21px;
    border-radius: 5px;
    cursor: pointer;
}

.crlogo:hover {
    filter: grayscale(80%);
    background-color: grey;
}

.allversion {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chooseversion {
    background: var(--modalcolor);
    border-color: var(--textcolor);
}

.allversion button {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    margin: 5px;
    background-color: var(--background);
    color: var(--textcolor);
    font-family: "Replay";
    letter-spacing: 3px;
    font-size: 1.1em;
}

.allversion button:hover {
    background-color: var(--modifiedtextcolor);
}

.import {
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

#instance_dialog {}

#instance_dialog .logo {
    height: 64px;
    width: 64px;
}

.mods_icon {
    height: 16px;
    width: 16px;
}

.dialog_modal {
    width: 80%;
    height: 80%;
}

.mod_list_div {
    height: 300px;
    overflow: scroll;
    overflow-x: clip;
}