@font-face {
    font-family: "Squared Display";
    src: url("../asset/fonts/squared_display/Squared\ Display.ttf");
}

@font-face {
    font-family: "Symtext";
    src: url("../asset/fonts/symtext/Symtext.ttf");
}

.title {
    color: var(--textcolor);
    font-family: "Squared Display";
    text-align: center;
    font-size: 2.5em;
}

.subtitle {
    color: var(--textcolor);
    font-family: "Squared Display";
    text-align: center;
    font-size: 2em;
}

.text {
    background-color: var(--modalcolor);
    color: var(--textcolor);
    font-family: "Symtext";
    text-align: justify;
    /* font-size: 1em; */
}

.label {
    color: var(--textcolor);
    font-family: "Symtext";
    text-align: justify;
    /* font-size: 1em; */
}

#saveram {
    font-size: 1em;
}

.config_button {
    font-size: 1em;
}