.version_1_21 {
    background: url("../assets/images/minecraft_versions/1_21.jfif");
}

.version_1_20 {
    background: url("../assets/images/minecraft_versions/1_20.jfif");
}

.version_1_19 {
    background: url("../assets/images/minecraft_versions/1_19.jfif");
}

.version_1_18,
.version_1_17 {
    background: url("../assets/images/minecraft_versions/1_17.jfif");
}

.version_1_16 {
    background: url("../assets/images/minecraft_versions/1_16.jfif");
}

.version_1_15 {
    background: url("../assets/images/minecraft_versions/1_15.jfif");
}

.version_1_14 {
    background: url("../assets/images/minecraft_versions/1_14.jfif");
}

.version_1_13 {
    background: url("../assets/images/minecraft_versions/1_13.jfif");
}

.version_1_12 {
    background: url("../assets/images/minecraft_versions/1_12.jfif");
}

.version_1_11 {
    background: url("../assets/images/minecraft_versions/1_11.jfif");
}

.version_1_10 {
    background: url("../assets/images/minecraft_versions/1_10.jfif");
}

.version_1_9 {
    background: url("../assets/images/minecraft_versions/1_9.jfif");
}

.version_1_8 {
    background: url("../assets/images/minecraft_versions/1_8.jfif");
}

.version_1_7 {
    background: url("../assets/images/minecraft_versions/1_7.jfif");
}

.version_1_6 {
    background: url("../assets/images/minecraft_versions/1_6.jfif");
}

.version_1_5 {
    background: url("../assets/images/minecraft_versions/1_5.jfif");
}

.version_1_4 {
    background: url("../assets/images/minecraft_versions/1_4.jfif");
}

.version_1_3 {
    background: url("../assets/images/minecraft_versions/1_3.jfif");
}

.version_1_2 {
    background: url("../assets/images/minecraft_versions/1_2.jfif");
}

.version_1_1 {
    background: url("../assets/images/minecraft_versions/1_1.jfif");
}

.version_1_0 {
    background: url("../assets/images/minecraft_versions/1_0.jfif");
}