@font-face {
    font-family: "Pointess";
    src: url("../asset/fonts/pointless_2/Pointless.ttf");
}

@font-face {
    font-family: "Replay";
    src: url("../asset/fonts/replay/replay.ttf");
}

.title {
    text-align: center;
    font-family: "Pointess";
}

.subtitle {
    text-align: center;
    font-family: "Pointess";
}

body {
    /* background: center / 60em 60em url("../asset/image/landscape.png"); */
    text-align: center;
}

button {
    transition: color 0.3s ease-in-out, filter 2s ease-in-out;
    font-family: "Replay";
    border: none;
    background: none;
    font-size: 2em;
}

button:disabled {
    filter: opacity(0);
}

button:hover:enabled {
    color: grey;
}

.loading {
    text-align: center;
    font-family: "Pointess";
}

.invi.on {
    filter: opacity(0);
}

.invi {
    transition-property: filter;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

.ram {
    font-family: "Replay";
}